.field {
    width: 470px;
    height: 470px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    justify-content: center;
    margin: auto;
    align-self: center;
    
}

.sec {
    width: 150px;
    height: 150px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1 {
    grid-column: 2;
    grid-row: 1;
  }
  
.sec2 {
    grid-column: 1;
    grid-row: 2;
}
  
.sec3 {
    grid-column: 2;
    grid-row: 2;
}

.sec4 {
    grid-column: 3;
    grid-row: 2;
}

.sec5 {
    grid-column: 2;
    grid-row: 3;
}

.active {
    background: red;
}

.lineContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
}

.currentCommand {
    height: 50px;
    width: 50px;
    border: 2px solid rgba(0,0,0,0.6)
}

.commands {
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 50px;
    font-size: 30px;
    align-items: center;
    transform: translate(57%, -2%);
}